<app-header headerTitle="Ogłoszenie"></app-header>
<div
  class="max-w-full md:max-w-7xl h-full mt-2 flex flex-col mx-auto flex items-center loaderBlock">
  <div
    *ngIf="isContentLoading; else content"
    class="max-w-full md:max-w-7xl mx-auto max-h-96 flex justify-center loaderBlock items-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <ng-template #content>
    <app-img-preview-upload
      *ngIf="!isEdit"
      class="mt-10"
      (fileChangedEvent)="addPhoto($event)"
      (fileUnloadEvent)="unloadPhoto($event)"
      [imgUrlEdit]="
        announcement && announcement.photo.length > 0
          ? announcement.photo[0]?.url
          : undefined
      "></app-img-preview-upload>
    <div class="w-3/4 md:w-1/2 mt-2">
      <form [formGroup]="announcementForm" class="mt-6">
        <div class="p-fluid grid grid-cols-1">
          <div class="">
            <label for="title">Tytuł</label>
            <input
              cy-data="create-announcement-title-field"
              id="title"
              name="title"
              type="text"
              required
              pInputText
              formControlName="title" />
            <div
              class="flex flex-col mb-1"
              *ngIf="
                (f.title.touched && f.title.invalid) ||
                (f.title.dirty && f.title.invalid)
              ">
              <small class="p-error" *ngIf="f.title?.errors?.required"
                >Pole <strong>tytuł</strong> jest wymagane</small
              >
              <small class="p-error" *ngIf="f.title?.errors?.maxlength"
                >Pole <strong>tytuł</strong> jest zbyt długie</small
              >
            </div>
          </div>
        </div>
        <div class="mt-4 p-fluid grid grid-cols-1">
          <div class="">
            <label for="city">Miejscowość</label>
            <input
              cy-data="create-announcement-city-field"
              id="city"
              name="city"
              type="text"
              required
              pInputText
              formControlName="city" />
            <small
              class="p-error"
              *ngIf="
                (f.city.touched && f.city.invalid) ||
                (f.city.dirty && f.city.invalid && f.city?.errors.required)
              "
              >Pole <strong>miejscowość</strong> jest wymagane</small
            >
          </div>
        </div>
        <div id="start-container" class="mt-4 p-fluid grid grid-cols-1">
          <label for="start_date">Początek opieki</label>
          <p-calendar
            cy-data="create-announcement-start-field"
            dateFormat="dd.mm.yy"
            id="start_date"
            formControlName="start_date"
            [showTime]="true"
            inputId="start_date">
          </p-calendar>
          <div
            class="flex flex-col mt-1"
            *ngIf="
              (f.start_date.touched && f.start_date.invalid) ||
              (f.start_date.dirty && f.start_date.invalid) ||
              (f.end_date.dirty && announcementForm.errors)
            ">
            <small class="p-error" *ngIf="f.start_date?.errors?.required"
              >Pole <strong>początek opieki</strong> jest wymagane</small
            >
            <small class="p-error" *ngIf="f.start_date?.errors?.dateBeforeToday"
              >Data w polu <strong>początek opieki</strong> nie może być
              wcześniejsze niż data dzisiejsza</small
            >
            <small class="p-error" *ngIf="announcementForm?.errors?.range"
              >Niepoprawnie wypełnione daty
            </small>
          </div>
        </div>
        <div id="end-container" class="mt-4 p-fluid grid grid-cols-1">
          <label for="end_date">Koniec opieki</label>
          <p-calendar
            cy-data="create-announcement-end-field"
            dateFormat="dd.mm.yy"
            id="end_date"
            formControlName="end_date"
            [showTime]="true"
            inputId="end_date"></p-calendar>
          <div
            class="flex flex-col mt-1"
            *ngIf="
              (f.end_date.touched && f.end_date.invalid) ||
              (f.end_date.dirty && f.end_date.invalid) ||
              (f.end_date.dirty && announcementForm.errors)
            ">
            <small class="p-error" *ngIf="f.end_date?.errors?.required"
              >Pole <strong>koniec opieki</strong> jest wymagane</small
            >
            <small class="p-error" *ngIf="f.end_date?.errors?.dateBeforeToday"
              >Data w polu <strong>koniec opieki</strong> nie może być
              wcześniejsze niż data dzisiejsza</small
            >
            <small class="p-error" *ngIf="announcementForm?.errors?.range"
              >Niepoprawnie wypełnione daty
            </small>
          </div>
        </div>
        <div class="mt-4 p-fluid grid grid-cols-1">
          <label for="activities-container">Aktywność</label>
          <div id="activities-container">
            <div
              *ngFor="let activity of activities"
              class="mt-1 field-checkbox">
              <div class="flex items-center">
                <p-checkbox
                  name="activity"
                  [value]="activity"
                  [formControl]="announcementForm.controls['activity_id']"
                  [inputId]="activity.name"></p-checkbox>
                <label
                  style="margin-left: 0.5rem"
                  class="inline-block align-middle cursor-pointer"
                  [for]="activity.name"
                  >{{ activity.name }}</label
                >
              </div>
            </div>
            <small
              class="p-error"
              *ngIf="
                (f.activity_id.touched && f.activity_id.invalid) ||
                (f.activity_id.dirty &&
                  f.activity_id.invalid &&
                  f.activity_id?.errors.required)
              "
              >Przynajmniej jedna z aktywności jest wymagana</small
            >
          </div>
        </div>
        <div class="mt-4 p-fluid grid grid-cols-1">
          <div class="">
            <label for="quantity">Liczba psów do opieki</label>
            <input
              min="1"
              cy-data="create-announcement-quantity-field"
              id="quantity"
              name="quantity"
              type="number"
              required
              pInputText
              formControlName="quantity" />
            <small
              class="p-error"
              *ngIf="
                (f.quantity.touched && f.quantity.invalid) ||
                (f.quantity.dirty &&
                  f.quantity.invalid &&
                  f.quantity?.errors.required)
              "
              >Pole <strong>ilość</strong> jest wymagane i musi być większe od
              1</small
            >
          </div>
        </div>
        <div class="p-fluid mt-4">
          <label for="description-container">Opis ogłoszenia</label>
          <div
            id="description-container"
            class="grid grid-cols-1 rounded-lg border-4 border-solid">
            <textarea
              cy-data="create-announcement-description-field"
              formControlName="description"
              id="description"
              class="h-40"
              name="description"></textarea>
          </div>
        </div>
      </form>
      <div class="flex my-6 w-full justify-center">
        <div>
          <button
            class="p-button-secondary"
            pButton
            type="button"
            label="Anuluj"
            (click)="navigateBack()"></button>
        </div>
        <div class="ml-4">
          <button
            [loading]="isRequestSending"
            cy-data="create-announcement-submit-button"
            class="p-button-success"
            pButton
            type="button"
            [disabled]="announcementForm.pristine || !announcementForm.valid"
            label="{{ isEdit ? 'Edytuj' : 'Dodaj' }}"
            (click)="saveAnnouncement()"></button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
