<div class="">
  <nav class="bg-white shadow">
    <div class="max-w-7xl mx-auto px-8">
      <div class="flex items-center justify-between h-16">
        <div
          class="flex items-center gap-x-2 cursor-pointer"
          routerLink="/aplikacja/poszukuja-opieki">
          <div>
            <img
              src="/assets/background/logo_hr.png"
              style="display: block; width: 35px; height: 35px" />
          </div>
          <div>
            <a
              class="flex-shrink-0 text-md font-bold"
              routerLink="/aplikacja/poszukuja-opieki">
              DogCompany
            </a>
          </div>
        </div>
        <div class="block">
          <div class="ml-4 flex items-center md:ml-6">
            <div class="hidden md:flex items-center">
              <div class="ml-10 flex items-baseline space-x-4">
                <a
                  routerLinkActive="active"
                  class="text-gray-800 font-medium hover:text-gray-300 px-4 py-2 rounded-md text-md"
                  routerLink="/aplikacja/poszukuja-opieki">
                  Profile psów
                </a>
                <a
                  routerLinkActive="active"
                  routerLink="/aplikacja/ogloszenia"
                  class="text-gray-800 font-medium hover:text-gray-300 px-4 py-2 rounded-md text-md">
                  Ogłoszenia
                </a>
              </div>
              <div *ngIf="isSignedIn">
                <div class="flex items-center">
                  <ng-container
                    *ngIf="
                      +unreadMessages <= 0 || !unreadMessages;
                      else withBadge
                    ">
                    <i
                      routerLink="/aplikacja/wiadomosci"
                      tooltipPosition="bottom"
                      class="pi pi-envelope px-3 text-black cursor-pointer"
                      style="font-size: 1.5rem"
                      severity="danger"></i
                  ></ng-container>
                  <ng-template #withBadge>
                    <i
                      routerLink="/aplikacja/wiadomosci"
                      tooltipPosition="bottom"
                      class="pi pi-envelope pl-3 pr-2 mr-1 text-black cursor-pointer"
                      pBadge
                      style="font-size: 1.5rem"
                      severity="danger"
                      [value]="unreadMessages"></i>
                  </ng-template>
                </div>
              </div>
            </div>
            <div *ngIf="isSignedIn" class="hidden md:block ml-3 relative">
              <div
                class="relative inline-block text-left"
                (appClickOutside)="showDropdown = false">
                <div>
                  <button
                    type="button"
                    (click)="showDropdown = !showDropdown"
                    class="flex items-center justify-center w-full rounded-md px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500"
                    id="options-menu">
                    <svg
                      width="20"
                      fill="black"
                      height="20"
                      class="text-gray-800"
                      viewBox="0 0 1792 1792"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M1523 1339q-22-155-87.5-257.5t-184.5-118.5q-67 74-159.5 115.5t-195.5 41.5-195.5-41.5-159.5-115.5q-119 16-184.5 118.5t-87.5 257.5q106 150 271 237.5t356 87.5 356-87.5 271-237.5zm-243-699q0-159-112.5-271.5t-271.5-112.5-271.5 112.5-112.5 271.5 112.5 271.5 271.5 112.5 271.5-112.5 112.5-271.5zm512 256q0 182-71 347.5t-190.5 286-285.5 191.5-349 71q-182 0-348-71t-286-191-191-286-71-348 71-348 191-286 286-191 348-71 348 71 286 191 191 286 71 348z"></path>
                    </svg>
                    <span class="font-bold ml-2">{{ userName }}</span>
                  </button>
                </div>
                <div
                  [hidden]="!showDropdown"
                  class="cursor-pointer absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 z-50 opacity-100">
                  <div
                    class="py-1"
                    role="menu"
                    aria-orientation="vertical"
                    aria-labelledby="options-menu">
                    <a
                      href="/aplikacja/uzytkownik"
                      class="block block px-4 py-2 text-md text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                      role="menuitem">
                      <span class="flex flex-col">
                        <span> Konto </span>
                      </span>
                    </a>
                    <a
                      routerLink="/aplikacja/opieka"
                      class="block block px-4 py-2 text-md text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                      role="menuitem">
                      <span class="flex flex-col">
                        <span> Opieki </span>
                      </span>
                    </a>
                    <a
                      href="/aplikacja/ogloszenia/moje-ogloszenia"
                      class="block block px-4 py-2 text-md text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                      role="menuitem">
                      <span class="flex flex-col">
                        <span> Moje Ogłoszenia </span>
                      </span>
                    </a>
                    <a
                      href="/aplikacja/moje-psy"
                      class="block block px-4 py-2 text-md text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                      role="menuitem">
                      <span class="flex flex-col">
                        <span> Profile psów </span>
                      </span>
                    </a>
                    <a
                      (click)="logout()"
                      class="cursor-pointer block block px-4 py-2 text-md text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                      role="menuitem">
                      <span class="flex flex-col">
                        <span> Wyloguj </span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="!isSignedIn" class="hidden md:block">
              <button
                routerLink="/logowanie"
                pButton
                pRipple
                type="button"
                label="Login"
                class="hidden p-button-sm p-button-raised p-button-help"></button>
            </div>
          </div>
        </div>
        <div class="-mr-2 flex md:hidden">
          <button
            (click)="showHamburgerDropdown = !showHamburgerDropdown"
            class="text-gray-800 hover:text-gray-300 inline-flex items-center justify-center p-2 rounded-md focus:outline-none">
            <svg
              width="20"
              height="20"
              fill="black"
              class="h-8 w-8"
              viewBox="0 0 1792 1792"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1664 1344v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45z"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="md:hidden" [hidden]="!showHamburgerDropdown">
      <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
        <a
          routerLinkActive="active"
          routerLink="/aplikacja/poszukuja-opieki"
          class="text-gray-800 hover:text-gray-300 block px-3 py-2 rounded-md text-base font-medium">
          Profile psów
        </a>
        <a
          routerLinkActive="active"
          routerLink="/aplikacja/ogloszenia"
          class="text-gray-800 hover:text-gray-300 block px-3 py-2 rounded-md font-medium">
          Ogłoszenia
        </a>
        <p-divider align="center">
          <span class="p-tag">Konto</span>
        </p-divider>
        <a
          *ngIf="isSignedIn"
          class="text-black hover:text-gray-300 block px-3 py-2 rounded-md text-base font-medium"
          href="/aplikacja/uzytkownik">
          Konto
        </a>
        <a
          *ngIf="isSignedIn"
          class="text-black hover:text-gray-300 block px-3 py-2 rounded-md text-base font-medium"
          href="/aplikacja/wiadomosci">
          Wiadomości
        </a>
        <a
          *ngIf="isSignedIn"
          class="text-black hover:text-gray-300 block px-3 py-2 rounded-md text-base font-medium"
          href="/aplikacja/moje-psy">
          Profile psów
        </a>
        <a
          *ngIf="isSignedIn"
          class="text-black hover:text-gray-300 block px-3 py-2 rounded-md text-base font-medium"
          href="/aplikacja/opieka">
          Moje opieki
        </a>
        <a
          *ngIf="isSignedIn"
          class="text-black hover:text-gray-300 block px-3 py-2 rounded-md text-base font-medium"
          href="/aplikacja/ogloszenia/moje-ogloszenia">
          Moje ogłoszenia
        </a>
        <a
          *ngIf="!isSignedIn"
          class="text-black hover:text-gray-300 block px-3 py-2 rounded-md text-base font-bold"
          routerLink="/logowanie">
          Login
        </a>
        <a
          *ngIf="isSignedIn"
          (click)="logout()"
          class="text-black hover:text-gray-300 block px-3 py-2 rounded-md text-base font-bold"
          routerLink="/logowanie">
          Wyloguj
        </a>
      </div>
    </div>
  </nav>
</div>
