<app-header headerTitle="Moje Psy"></app-header>
<div class="max-w-full md:max-w-7xl h-full mt-2 flex mx-auto flex justify-center loaderBlock ">
  <div *ngIf="isContentLoading; else content" class="max-w-full md:max-w-7xl mx-auto flex justify-center loaderBlock items-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <ng-template #content class="w-full">
    <div class="w-full mx-auto h-full my-12 px-2">
      <div class="w-full md:w-3/4 px-2 mx-auto md:px-8 flex flex-col border border-solid border-black rounded-lg">
        <div class="w-full flex justify-between items-center py-4">
          <h3 class="font-bold text-2xl">Profile psów</h3>
          <div *ngIf="isSignedIn" routerLink="" class="flex items-center cursor-pointer hover:text-gray-600">
            <i class="pi pi-plus-circle" style="font-size: 1.75rem"></i>
            <span  class="ml-1 font-bold text-base">Dodaj</span>
          </div>
        </div>
        <p-divider class="w-full"></p-divider>
        <div class="w-full" *ngFor="let dog of dogProfiles">
          <div class="cursor-pointer w-full flex flex-row justify-between" routerLink="../dog-profile/{{dog.id}}">
            <div class="flex flex-row">
              <div>
                <img alt="dog photo"
                     src="../../../assets/background/paw.png"
                     class="w-full h-full object-contain rounded-lg"/>
              </div>
              <div class="pl-4 flex flex-col">
                <span class="font-bold text-lg">{{dog.name}}</span>
                <span>{{dog.breed.name}}</span>
              </div>
            </div>

            <div class="flex flex-row pt-4 justify-center items-center" appClickStopPropagation>
              <div class="text-center">
                <span class="mt-4 text-normal font-bold hover:text-gray-600 cursor-pointer">Zdjęcia</span>
              </div>
              <div class="ml-4 md:ml-6">
                <button
                  routerLink=""
                  pButton pRipple icon="pi pi-pencil"
                  class="p-button-rounded p-button-success" pTooltip="Edytuj" tooltipPosition="bottom">
                </button>
              </div>
              <div class="ml-1">
                <button
                  pButton pRipple icon="pi pi-trash"
                  class="p-button-rounded p-button-warning" pTooltip="Usuń" tooltipPosition="bottom">
                </button>
              </div>
            </div>
          </div>
          <p-divider class="w-full"></p-divider>

        </div>
      </div>
    </div>
  </ng-template>
</div>
