<div class="w-full min-h-max">
  <div
    *ngIf="
      !(
        careType === careTypes.RECEIVED || careType === careTypes.OWNER_ACCEPTED
      )
    ">
    <h6 class="text-center text-2xl font-bold text-red-800">Status opieki:</h6>
    <h6 class="text-center mt-2 mb-2 font-bold text-lg">
      <span *ngIf="dogCare.state.id === careTypes.DONE">Zakończona</span>
      <span *ngIf="dogCare.state.id === careTypes.OWNER_REJECTED">{{
        userType === userTypes.OWNER
          ? 'Odrzucona przez ciebie'
          : 'Odrzucona przez właściciela'
      }}</span>
      <span *ngIf="dogCare.state.id === careTypes.CANCELLED">{{
        userType === userTypes.OWNER
          ? 'Anulowana przez opiekuna'
          : 'Anulowana przez ciebie'
      }}</span>
    </h6>
  </div>

  <h1 class="text-center text-3xl mt-4 font-bold text-black">
    {{ dogCare.guardian.name }}
  </h1>
  <div class="w-full mt-4 flex flex-col items-center">
    <img
      alt="dog photo"
      src="../../../assets/background/card.png"
      style="height: 150px; width: 150px"
      class="rounded-lg" />
    <span class="mt-2 underline font-bold cursor-pointer hover:text-black"
      >Zobacz profil</span
    >
  </div>
  <h6 class="text-center mt-4 text-xl">Proponuje opiekę:</h6>
  <h6 class="text-center mt-2 font-bold text-lg">
    {{ dogCare.activity.name }}
  </h6>

  <h6 class="text-center mt-4 text-xl">Opieka dotyczy:</h6>
  <h6 class="text-center mt-2 font-bold text-lg">
    {{ dogCare.dog_name }} ({{ dogCare.dog_breed.name }})
  </h6>

  <h6 class="text-center mt-4 text-xl">Proponowany termin:</h6>
  <h6 class="text-center mt-2 font-bold text-lg">
    {{ dogCare.start_date | date: 'short' }} -
    {{ dogCare.end_date | date: 'short' }}
  </h6>
  <div *ngIf="dogCare.siblings">
    <h6 class="text-center mt-4 text-xl">Informacje dodatkowe:</h6>
    <h6 class="text-center mt-2 font-bold text-lg">
      {{ dogCare.guardian.name }} z chęcią zaopiekuje się Twoimi pozostałymi
      psami
    </h6>
  </div>
  <div class="mt-4 w-fit flex flex-col items-center justify-center">
    <h5 class="text-center mt-2 text-xl">Uwagi opiekuna:</h5>
    <textarea rows="5" class="w-3/4" cols="100" pInputTextarea readonly>{{
      dogCare.additional_info
    }}</textarea>
  </div>

  <div
    *ngIf="
      userType === 1 &&
      careType !== careTypes.DONE &&
      careType !== careTypes.OWNER_REJECTED
    "
    class="mt-4 w-full flex justify-center">
    <button
      *ngIf="careType === careTypes.RECEIVED"
      (click)="changePropositionStatus(propositionActions.ACCEPT)"
      type="submit"
      class="btn-default">
      AKCEPTUJ PROPOZYCJĘ
    </button>
    <button
      (click)="changePropositionStatus(propositionActions.REJECT)"
      type="submit"
      class="ml-4 btn-red">
      ODRZUĆ PROPOZYCJĘ
    </button>
  </div>

  <div
    *ngIf="
      userType === 0 &&
      careType !== careTypes.DONE &&
      careType !== careTypes.OWNER_REJECTED
    "
    class="mt-4 w-full flex justify-center">
    <button
      (click)="changePropositionStatus(propositionActions.CANCEL)"
      type="submit"
      class="ml-4 btn-red">
      ANULUJ PROPOZYCJĘ
    </button>
  </div>
</div>
