::ng-deep p-multiselect .p-multiselect-label{
  display: flex;
  flex-wrap: wrap;
  width: 150px;
}

::ng-deep p-multiselect .p-multiselect-token{
  margin-bottom: 4px;
}

::ng-deep .p-multiselect.p-multiselect-chip .p-multiselect-token .p-multiselect-label {
  overflow: hidden;
}

::ng-deep p-multiselect .p-multiselect-item {
  color: yellow;
}

:host ::ng-deep .p-multiselect-token-label {
  width: 100px;
  overflow: hidden;
}

/*::ng-deep p-multiselect .p-multiselect-token {

}*/


:host ::ng-deep .p-paginator {
  max-width: 100% !important;
}

.card {
  min-height: 320px;
  max-height: 320px;
}
.shade {
  -moz-box-shadow: 0px 3px 6px rgb(122, 122, 122);
  -webkit-box-shadow: 0px 3px 6px rgb(122, 122, 122);
  box-shadow: 0px 3px 6px rgb(122, 122, 122);
}

.show {
  display: block;
}

.card-panel {
  min-height: 400px;
}


