/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

html {
  height: 100%;
  font-size: 14px;
}

.bg-img {
  background-image: url("/assets/background/bg2.png");
  object-fit: cover;
}

.nav-img {
  background-image: url("/assets/background/dogs9.png") !important;
  object-fit: cover;
  background-repeat: no-repeat;
  filter: blur(4px);
  filter: blur();
  -webkit-filter: blur(4px);
}

