/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900");

* {
  font-family: "Nunito", sans-serif;
}

html {
  height: 100%;
  font-size: 14px;
  scroll-behavior: smooth;
}

.bg-img {
  background-image: url("/assets/background/bg2.png");
  object-fit: cover;
}

.nav-img {
  background-image: url("/assets/background/dogs9.png") !important;
  object-fit: cover;
  background-repeat: no-repeat;
  filter: blur(4px);
  filter: blur();
  -webkit-filter: blur(4px);
}

.landing-header {
  background-image: url("/assets/background/wall2.jpg") !important;
  object-fit: cover;
  background-repeat: no-repeat;
}

app-owner-care {
  width: 100%;
}
app-guardian-care {
  width: 100%;
}

.btn {
  @apply py-3 px-5 rounded-2xl text-sm font-bold text-white
}

.btn-default {
  @apply btn bg-custom-purple-medium hover:bg-custom-purple-dark cursor-pointer
}

.btn-red {
  @apply btn bg-red-600 hover:bg-red-700
}


.register-button {
  @apply cursor-pointer bg-custom-purple-low rounded px-5 py-3 text-lg text-white tracking-wide font-semibold font-sans hover:bg-custom-purple-light
}

.loaderBlock {
  min-height: 600px;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: rgb(175, 174, 174) !important;
  border: none !important;
}

.shade {
  -moz-box-shadow: 0px 0px 4px rgb(122, 122, 122);
  -webkit-box-shadow: 0px 0px 4px rgb(122, 122, 122);
  box-shadow: 0px 0px 4px rgb(122, 122, 122);
}

.p-button.purple-button {
  @apply bg-custom-purple-low hover:bg-custom-purple-light
}

.p-button.purple-dark-button {
  @apply bg-custom-purple-light hover:bg-custom-purple-light
}

ul.paw-li {
  padding: 0;
}

li.paw-li {
  padding:0.15rem 0 0.5rem 3rem !important;
  margin-bottom:0.2em;
  text-indent:0;
  font-weight:bold;
  list-style:none;
  background-repeat:no-repeat;
  background-image: url("assets/background/paw_item.png");
  background-size: 35px;
}

p-image {
  img {
    height: 500px !important;
    object-fit: contain;
    padding: 0;
  }
}

.p-tabview-nav {
  @apply flex flex-col md:flex-row;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  @apply border-0 md:border-b-2
}

.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
  @apply border-0 md:border-b-2
}

.registration {
  .p-button {
    @apply cursor-pointer bg-custom-purple-low rounded px-5 py-3 text-lg text-white tracking-wide font-semibold font-sans hover:bg-custom-purple-light
  };
}
