
.p-steps .p-steps-item.p-highlight .p-steps-number {
  @apply bg-custom-purple-low text-white
}

.p-steps ul{
  @apply bg-white flex-col md:flex-row
}

.p-steps .p-steps-item .p-menuitem-link:not(.p-disabled):focus {
  @apply shadow-none
}

.p-steps .p-steps-item {
  @apply py-2
}

.p-steps .p-steps-item .p-menuitem-link .p-steps-number {
  border: 1px solid #f4f4f5;
}

.p-steps .p-steps-item::before {
  /*display: none;*/
}

.p-card {
  background: #ffffff;
  color: black;
  box-shadow: none !important;
  border: none !important;
}

.p-steps-item .p-menuitem-link {
  flex-direction: row !important;
}
.p-steps .p-steps-item::before {
  margin-top: 0 !important;
  border-top: 1px solid #b4a4f4;
}

.p-steps .p-steps-item:not(p-highlight) .p-steps-number {
  border: 1px solid black !important;
}
