<app-navbar></app-navbar>
<div class="w-full h-screen">
  <div class="w-full h-screen flex items-center justify-center" *ngIf="isContentLoading === true; else content">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <ng-template #content>
    <div class="w-full bg-custom-purple-medium mt-0.5 h-14 flex justify-between">
      <div class="px-4 text-white font-bold text-lg flex items-center">Powrót</div>
      <div class="px-4 text-white font-bold text-lg flex items-center">Następny</div>
    </div>
    <div class="w-full bg-gray-500">
      <div class="max-w-full md:max-w-7xl mx-auto h-full px-8 ">
        <div class="w-full md:w-3/4 mx-auto gallery">
          <p-carousel [value]="images" [showIndicators]="false">
            <ng-template let-image pTemplate="item">
              <div class="w-full gallery">
                <p-image src="{{image.previewImageSrc}}" alt="Image" width="100%"></p-image>
              </div>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div>
    <div class="max-w-full md:max-w-7xl mx-auto px-8">
      <div class="grid grid-cols-1 md:grid-cols-4 mt-10 gap-4">
        <div class="md:col-span-3">
          <div class="flex flex-col w-full px-2">
            <div class="">
              <span class="font-bold text-2xl text-black">{{dogProfile.name}}</span>
            </div>
            <div class="mt-4 py-4">
              <div class="w-full border-t border-gray-300"></div>
            </div>
            <div class="w-full flex justify-center">
              <div class="md:w-full flex flex-col md:flex-row md:justify-evenly">
                <span class="text-purple-700 font-bold text-lg uppercase">{{dogProfile.breed.name}}</span>
                <span class="text-purple-700 font-bold text-lg uppercase" >{{dogProfile.size.name}}</span>
                <span class="text-purple-700 font-bold text-lg uppercase">{{dogProfile.color}}</span>
              </div>
            </div>
            <div class="py-4">
              <div class="w-full border-t border-gray-300"></div>
            </div>
            <div class="w-full mt-4">
              <div class="w-full bg-purple-100 p-2">
                <span class="text-xl font-bold text-custom-purple-dark">OPIS</span>
              </div>
              <div class="w-full p-2">
            <span class="text-md font-normal text-black">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam facilisis dui non dui vehicula mollis. Nam hendrerit, lacus et iaculis hendrerit, sapien dui varius mauris, sed sodales sapien lectus porta orci. Proin ut elit sed nisl elementum ultrices. In quis mollis ipsum. Vivamus id mattis nulla, nec accumsan mi. Aenean sed urna a magna bibendum hendrerit placerat sollicitudin massa. Morbi nulla nunc, varius sit amet odio id, congue auctor felis. Suspendisse molestie eget lorem rhoncus iaculis. Aliquam ultrices metus eget quam venenatis, vitae bibendum nisi feugiat. </span>
              </div>
            </div>
            <div class="w-full mt-4">
              <div class="w-full bg-purple-100 p-2">
                <span class="text-xl font-bold text-custom-purple-dark">CECHY OSOBOWOŚCI</span>
              </div>
              <div class=" w-full p-2" *ngIf="dogProfile.features; else emptyFeature">
                <ul class="list-disc px-4 data-list">
                  <li class="mt-1 text-black font-normal text-lg px-2" *ngFor="let feature of dogProfile.features" >{{feature.name}}</li>
                </ul>
              </div>
              <ng-template #emptyFeature>
                <div class=" w-full p-2">
                  <ul class="list-disc px-4 data-list">
                    <li class="mt-1 text-black font-normal text-lg px-2">Brak</li>
                  </ul>
                </div>
              </ng-template>

            </div>
            <div class="w-full mt-4">
              <div class="w-full bg-purple-100 p-2">
                <span class="text-xl font-bold text-custom-purple-dark">AKTYWNOŚĆ KTÓREJ POTRZEBUJE</span>
              </div>
              <div class=" w-full p-2" *ngIf="dogProfile.activity; else emptyActivity">
                <ul class="list-disc px-4 data-list">
                  <li class="mt-1 text-black font-normal text-lg px-2" *ngFor="let activity of dogProfile.activity" >{{activity.name}}</li>
                </ul>
              </div>
              <ng-template #emptyActivity>
                <div class=" w-full p-2">
                  <ul class="list-disc px-4 data-list">
                    <li class="mt-1 text-black font-normal text-lg px-2">Brak</li>
                  </ul>
                </div>
              </ng-template>
            </div>
            <div class="w-full mt-4">
              <div class="w-full bg-purple-100 p-2">
                <span class="text-xl font-bold text-custom-purple-dark">JEST DOSTĘPNY</span>
              </div>
              <div class=" w-full p-2" *ngIf="dogProfile.availability; else emptyAvailability">
                <ul class="list-disc px-4 data-list">
                  <li class="mt-1 text-black font-normal text-lg px-2" *ngFor="let availability of dogProfile.availability" >{{availability.name}}</li>
                </ul>
              </div>
              <ng-template #emptyAvailability>
                <div class=" w-full p-2">
                  <ul class="list-disc px-4 data-list">
                    <li class="mt-1 text-black font-normal text-lg px-2">Brak</li>
                  </ul>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="py-4 bg-custom-purple-medium rounded-xl flex flex-col items-center">
            <div class="flex flex-col">
              <h2 class="text-2xl font-semibold text-white text-center">Właściciel</h2>
              <h3 class="mt-2 font-semibold text-lg text-white text-center">{{owner.firstName}} {{owner.lastName}}</h3>
              <h3 class="mt-2 font-semibold text-base text-white text-center">{{owner.city}}, {{owner.street}}</h3>
            </div>
            <div class="w-full px-6 mt-4">
              <div (click)="makeProposal()" class="bg-white rounded-2xl h-10 flex justify-center items-center text-custom-purple-medium hover:cursor-pointer hover:bg-gray-200">
                <span class="text-sm font-bold ">ZAPROPONUJ OPIEKĘ</span>
              </div>
            </div>

            <div class="w-full px-6 mt-4">
              <div class="rounded-2xl border border-solid border-white h-10 flex justify-center items-center hover:cursor-pointer hover:bg-purple-700 ">
                <span class="text-sm text-white font-bold ">WYŚLIJ WIADOMOŚĆ</span>
              </div>
            </div>
          </div>


          <div class="mt-5 py-4 bg-custom-purple-medium rounded-xl flex flex-col items-center">
            <div class="flex flex-col">
              <h3 class="mt-2 font-semibold text-xl text-white text-center cur">Rodzeństwo</h3>
              <h4 *ngFor="let sibling of siblings" class="mt-2 font-semibold text-lg text-white text-center cursor-pointer">
                {{sibling.name}}</h4>
              <h4 *ngIf="siblings.length === 0" class="mt-2 font-semibold text-lg text-white text-center">
                Brak</h4>
            </div>

          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>



