<app-header headerTitle="Temat wiadomości"></app-header>
<div
  class="max-w-full md:max-w-7xl h-full mt-2 flex mx-auto flex justify-center">
  <ng-container *ngIf="isContentLoading">
    <div
      class="max-w-full md:max-w-7xl mx-auto flex justify-center loaderBlock items-center">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </ng-container>
  <ng-container *ngIf="!isContentLoading">
    <div class="w-full mt-6 shade rounded p-6 mb-6">
      <div class="messages-container">
        <div
          class="w-full p-4 mb-2 border-2 rounded border-gray-200 flex flex-col">
          <div class="font-bold">
            Mikołaj Stasiak - <span class="text-xs">10.20.2022 - 10:30</span>
          </div>
          <div class="mt-0.5 w-full break-all">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum
            gravida dui at egestas. Aliquam sit amet massa urna. Morbi quis elit
            sed nisi auctor bibendum nec eu purus. Maecenas lectus sem,
            ullamcorper viverra imperdiet sed, venenatis et eros. Interdum et
            malesuada fames ac ante ipsum primis in faucibus. Mauris gravida est
            convallis quam aliquet porttitor. Aenean efficitur ipsum quis dui
            semper egestas. Nullam eget velit vehicula, maximus risus vel,
            consequat orci. Phasellus egestas arcu efficitur dolor tristique,
            vel lacinia mauris aliquet. Proin ac tortor pulvinar, aliquet orci
            ultricies, ullamcorper sapien. Mauris commodo molestie dui, in
            finibus mauris sodales ac. Quisque sit amet dui est. Sed tempus
            pellentesque felis, non viverra nisi pretium vitae. Nunc malesuada
            vulputate volutpat. Morbi congue, sapien non faucibus lobortis, ante
            neque vestibulum leo, ut suscipit mi lorem quis est. Praesent
            eleifend faucibus aliquet.
          </div>
        </div>
        <div
          class="w-full p-4 mb-4 border-2 rounded border-gray-200 flex flex-col">
          <div class="font-bold your-message">
            Mikołaj Stasiak - <span class="text-xs">10.20.2022 - 10:30</span>
          </div>
          <div class="mt-0.5 w-full break-all">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum
            gravida dui at egestas. Aliquam sit amet massa urna. Morbi quis elit
            sed nisi auctor bibendum nec eu purus. Maecenas lectus sem,
            ullamcorper viverra imperdiet sed, venenatis et eros. Interdum et
            malesuada fames ac ante ipsum primis in faucibus. Mauris gravida est
            convallis quam aliquet porttitor. Aenean efficitur ipsum quis dui
            semper egestas. Nullam eget velit vehicula, maximus risus vel,
            consequat orci. Phasellus egestas arcu efficitur dolor tristique,
            vel lacinia mauris aliquet. Proin ac tortor pulvinar, aliquet orci
            ultricies, ullamcorper sapien. Mauris commodo molestie dui, in
            finibus mauris sodales ac. Quisque sit amet dui est. Sed tempus
            pellentesque felis, non viverra nisi pretium vitae. Nunc malesuada
            vulputate volutpat. Morbi congue, sapien non faucibus lobortis, ante
            neque vestibulum leo, ut suscipit mi lorem quis est. Praesent
            eleifend faucibus aliquet.
          </div>
        </div>
        <div
          class="w-full p-4 mb-4 border-2 rounded border-gray-200 flex flex-col">
          <div class="font-bold">
            Mikołaj Stasiak - <span class="text-xs">10.20.2022 - 10:30</span>
          </div>
          <div class="mt-0.5 w-full break-all">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum
            gravida dui at egestas. Aliquam sit amet massa urna. Morbi quis elit
            sed nisi auctor bibendum nec eu purus. Maecenas lectus sem,
            ullamcorper viverra imperdiet sed, venenatis et eros. Interdum et
            malesuada fames ac ante ipsum primis in faucibus. Mauris gravida est
            convallis quam aliquet porttitor. Aenean efficitur ipsum quis dui
            semper egestas. Nullam eget velit vehicula, maximus risus vel,
            consequat orci. Phasellus egestas arcu efficitur dolor tristique,
            vel lacinia mauris aliquet. Proin ac tortor pulvinar, aliquet orci
            ultricies, ullamcorper sapien. Mauris commodo molestie dui, in
            finibus mauris sodales ac. Quisque sit amet dui est. Sed tempus
            pellentesque felis, non viverra nisi pretium vitae. Nunc malesuada
            vulputate volutpat. Morbi congue, sapien non faucibus lobortis, ante
            neque vestibulum leo, ut suscipit mi lorem quis est. Praesent
            eleifend faucibus aliquet.
          </div>
        </div>
      </div>
      <p-divider></p-divider>
      <div class="mt-4">
        <div class="p-fluid mt-4">
          <label for="description-container" class="font-bold text-gray-600"
            >Odpowiedz</label
          >
          <div
            id="description-container"
            class="grid grid-cols-1 rounded-lg border-4 border-solid">
            <textarea
              id="description"
              class="h-40"
              name="description"></textarea>
          </div>
        </div>
        <div class="mt-2">
          <button
            pButton
            type="button"
            label="Wyślij"
            icon="pi pi-send"
            class="p-button-sm"></button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
