<app-header headerTitle="{{ messages[0].thread_name }}"></app-header>
<div
  class="max-w-full md:max-w-7xl h-full mt-2 flex mx-auto flex justify-center">
  <ng-container *ngIf="isContentLoading">
    <div
      class="max-w-full md:max-w-7xl mx-auto flex justify-center loaderBlock items-center">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </ng-container>
  <ng-container *ngIf="!isContentLoading">
    <div class="w-full mt-6 shade rounded p-6 mb-6">
      <div class="messages-container">
        <div
          *ngFor="let message of messages"
          [ngClass]="{ sender: authenticatedUserId === message.user_id }"
          class="w-full p-4 mb-2 border-2 rounded border-gray-200 flex flex-col">
          <div class="font-bold">
            {{ message.sender.name }} -
            <span class="text-xs">{{
              message.created_at | date: 'short'
            }}</span>
          </div>
          <div class="mt-0.5 w-full break-all">
            {{ message.body }}
          </div>
        </div>
      </div>
      <p-divider></p-divider>
      <div class="mt-4">
        <div class="p-fluid mt-4">
          <label for="description-container" class="font-bold text-gray-600"
            >Odpowiedz</label
          >
          <div
            id="description-container"
            class="grid grid-cols-1 rounded-lg border-4 border-solid">
            <textarea
              [(ngModel)]="body"
              id="description"
              class="h-40"
              name="description"></textarea>
          </div>
        </div>
        <div class="mt-2">
          <button
            [disabled]="!body || body.trim().length <= 0"
            (click)="replyMessage()"
            [loading]="isMessageSending"
            pButton
            type="button"
            label="Wyślij"
            icon="pi pi-send"
            class="p-button-sm"></button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
