<div class="w-full">
  <p-tabView >
    <p-tabPanel header="{{userType === 0 ? 'Otrzymane propozycje' : 'Twoje propozycje'}}">
      <ng-template pTemplate="content">
        <app-proposition-view></app-proposition-view>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Nadchodzące opieki">
      <ng-template pTemplate="content">
        <app-proposition-view></app-proposition-view>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Zakończone opieki">
      <ng-template pTemplate="content">
        <app-proposition-view></app-proposition-view>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="{{userType === 0 ? 'Odrzucone opieki' : 'Odrzucone propozycje'}}">
      <ng-template pTemplate="content">
        <app-proposition-view></app-proposition-view>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
