<app-header headerTitle="Ogłoszenia"></app-header>
<div
  class="max-w-full md:max-w-7xl h-full mt-2 flex mx-auto flex justify-center loaderBlock items-center">
  <div
    *ngIf="isContentLoading; else content"
    class="max-w-full md:max-w-7xl mx-auto flex justify-center loaderBlock items-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <ng-template #content class="w-full">
    <div
      class="w-full mx-auto bg-white h-full px-8 flex flex-col items-center md:flex-row md:justify-center md:items-start">
      <div class="w-1/4 my-12 flex flex-col w-full items-center">
        <h2 class="block font-bold text-2xl mb-4 text-custom-grey">Filtry</h2>
        <div class="block py-6 md:hidden">
          <p
            class="text-custom-purple-dark text-center font-bold text-md cursor-pointer"
            (click)="showFilters = !showFilters">
            {{ showFilters ? 'Schowaj filtry' : 'Pokaż filtry' }}
          </p>
        </div>

        <div [ngClass]="{ show: showFilters }" class="hidden md:block">
          <div class="w-full px-20 md:px-0">
            <form [formGroup]="filters">
              <div class="field">
                <label
                  for="city"
                  class="block font-bold text-lg text-custom-grey"
                  >Miejscowość</label
                >
                <input
                  id="city"
                  type="text"
                  pInputText
                  placeholder="Miejscowość"
                  formControlName="city" />
              </div>

              <div class="mt-2 field">
                <label
                  for="activity"
                  class="pt-4 block font-bold text-lg text-custom-grey"
                  >Potrzeba</label
                >
                <div id="activity" class="mt-2">
                  <div
                    *ngFor="let activity of activities"
                    class="field-checkbox">
                    <div class="flex items-center">
                      <p-checkbox
                        name="activity"
                        [value]="activity.id"
                        [formControl]="filters.controls['activity']"
                        [inputId]="activity.name"></p-checkbox>
                      <label
                        style="margin-left: 0.5rem"
                        class="font-bold text-custom-grey inline-block align-middle cursor-pointer"
                        [for]="activity.name"
                        >{{ activity.name }}</label
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="mt-2 field">
                <label
                  for="count"
                  class="pt-4 block font-bold text-lg text-custom-grey"
                  >Ilość psów</label
                >
                <div id="count" class="mt-2">
                  <div class="field-checkbox">
                    <div class="flex items-center">
                      <p-checkbox
                        name="count"
                        value="0"
                        [formControl]="filters.controls['count']"
                        inputId="one"></p-checkbox>
                      <label
                        style="margin-left: 0.5rem"
                        class="font-bold text-custom-grey inline-block align-middle cursor-pointer"
                        for="one"
                        >Jeden</label
                      >
                    </div>
                  </div>

                  <div class="field-checkbox">
                    <div class="flex items-center">
                      <p-checkbox
                        name="count"
                        value="1"
                        [formControl]="filters.controls['count']"
                        inputId="more"></p-checkbox>
                      <label
                        style="margin-left: 0.5rem"
                        class="font-bold text-custom-grey inline-block align-middle cursor-pointer"
                        for="more"
                        >Więcej</label
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="mt-4 field">
                <label for="startDate" class="font-bold text-custom-grey"
                  >Szukaj od</label
                >
                <p-calendar
                  id="startDate"
                  inputId="startDate"
                  formControlName="start_date"
                  placeholder="Szukaj od"></p-calendar>
              </div>

              <div class="mt-4 field">
                <label for="endDate" class="font-bold text-custom-grey"
                  >Szukaj do</label
                >
                <p-calendar
                  id="endDate"
                  inputId="endDate"
                  formControlName="end_date"
                  placeholder="Szukaj do"></p-calendar>
              </div>

              <div class="mt-8 field flex justify-center md:justify-start">
                <button
                  style="min-width: 100%"
                  pButton
                  pRipple
                  type="button"
                  label="Szukaj"
                  class="p-button-rounded"
                  (click)="applyFilters()"></button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="md:ml-20 w-full md:w-3/4 items-center md:my-12 flex flex-col">
        <div class="w-full">
          <div class="w-full flex justify-between items-center">
            <h3 class="font-bold text-4xl">Znalezione ogłoszenia</h3>
            <div
              *ngIf="isSignedIn"
              routerLink="add"
              class="flex items-center cursor-pointer hover:text-gray-600">
              <i class="pi pi-plus-circle" style="font-size: 1.75rem"></i>
              <span class="ml-1 font-bold text-base">Dodaj</span>
            </div>
          </div>
          <p-divider class="w-full"></p-divider>
          <div class="w-full flex mt-4 flex flex-col">
            <div
              *ngIf="isPageChanging; else announcementsContent"
              class="w-full flex justify-center loaderBlock items-center">
              <p-progressSpinner></p-progressSpinner>
            </div>
            <ng-template #announcementsContent>
              <div
                *ngFor="let announcement of announcements"
                routerLink="details/{{ announcement.id }}"
                class="w-full cursor-pointer flex flex-col md:flex-row mb-8 md:mb-4 shade rounded-lg px-2 py-2 hover:bg-gray-50 overflow-hidden">
                <div class="w-full md:w-1/4 flex justify-center announcement">
                  <div class="w-1/2 md:w-full">
                    <img
                      alt="dog photo"
                      src="{{
                        announcement.photo.length > 0
                          ? announcement.photo[0].url
                          : '../../../assets/background/placeholder.png'
                      }}"
                      class="w-full h-full object-cover rounded-lg" />
                  </div>
                </div>
                <div
                  class="w-full md:w-3/4 announcement flex flex-col px-6 mt-4 md:mt-0">
                  <div class="h-1/5">
                    <h2 class="font-bold text-2xl text-center md:text-left">
                      {{ announcement.title }}
                    </h2>
                  </div>
                  <div class="h-3/5 text-ellipsis overflow-hidden">
                    <h5 class="text-justify mt-2 text-base">
                      {{ announcement.description | slice: 0:250 }}&nbsp;...
                    </h5>
                  </div>

                  <div class="h-1/5">
                    <h5 class="text-justify mt-2 text-base">
                      Data rozpoczęcia:
                      <span class="font-bold"
                        >{{ announcement.start_date | date: 'short' }} </span
                      >, Data zakończenia:
                      <span class="font-bold">{{
                        announcement.end_date | date: 'short'
                      }}</span>
                    </h5>
                  </div>
                </div>
              </div>
              <div
                *ngIf="announcements.length <= 0"
                class="w-full font-bold text-2xl">
                Brak dostępnych ogłoszeń
              </div>
            </ng-template>

            <div *ngIf="totalPages > 0" class="w-full mt-4 h-36">
              <p-paginator
                [rows]="announcementsPerPage"
                [totalRecords]="totalPages"
                [showFirstLastIcon]="false"
                (onPageChange)="onPageChange($event)"></p-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
