<div class="w-full h-screen flex items-center justify-center">
  <div class="flex flex-col text-center">
    <h2 class="text-custom-purple-low text-8xl font-extrabold">403</h2>
    <h2 class="pt-4 text-black text-6xl font-bold">Brak autoryzacji</h2>
    <span class="pt-4 text-gray-600 text-2xl font-semibold"
      >Nie masz dostępu do tego miejsa.</span
    >
    <div class="pt-8">
      <button
        routerLink="/"
        class="purple-button"
        pButton
        pRipple
        type="button"
        label="Powrót"></button>
    </div>
  </div>
</div>
