<div class="w-full flex flex-col md:flex-row">
  <div
    *ngIf="isContentLoading; else content"
    class="w-full mx-auto flex justify-center loaderBlock items-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <ng-template #content>
    <div class="w-full mt-4 ml-12 flex flex-col">
      <div class="w-full flex justify-center text-3xl">
        <span
          *ngIf="
            userType === dogCareUserTypes.OWNER &&
            careType === dogCarePropositionViewTypes.RECEIVED
          "
          >Otrzymane propozycje</span
        >
        <span
          *ngIf="
            careType === dogCarePropositionViewTypes.OWNER_REJECTED ||
            careType === dogCarePropositionViewTypes.CANCELLED
          "
          >Opieki odrzucone</span
        >
        <span *ngIf="careType === dogCarePropositionViewTypes.DONE"
          >Opieki zakończone</span
        >
        <span
          *ngIf="
            userType === dogCareUserTypes.GUARDIAN &&
            careType === dogCarePropositionViewTypes.RECEIVED
          "
          >Twoje propozycje</span
        >
      </div>
      <p-divider></p-divider>
      <div class="w-full mt-8">
        <div
          *ngFor="let dogCare of dogCares"
          class="border-gray-300 border-b-2 border-solid mb-2">
          <div class="flex mb-2 flex-col md:flex-row rounded-xl">
            <div class="w-2/6">
              <div class="w-full flex flex-row">
                <div class="w-1/2">
                  <img
                    alt="dog photo"
                    src="{{
                      userType === 1
                        ? dogCare.guardian.photo.length > 0
                          ? dogCare.guardian.photo[0].url
                          : '../../../assets/background/card.png'
                        : dogCare.owner.photo.length > 0
                        ? dogCare.owner.photo[0].url
                        : '../../../assets/background/card.png'
                    }}"
                    style="height: 100px; width: 100px"
                    class="rounded-lg" />
                </div>
                <div class="w-1/2 flex flex-col justify-evenly">
                  <div class="text-xl font-bold">
                    {{
                      userType === 1
                        ? dogCare.guardian.name
                        : dogCare.owner.name
                    }}
                  </div>
                  <div class="cursor-pointer underline hover:text-black">
                    Zobacz profil
                  </div>
                </div>
              </div>
            </div>
            <div class="w-3/6 ml-4 flex flex-col justify-evenly">
              <div class="text-xl font-bold">Typ:</div>
              <div>
                <span class="">{{ dogCare.activity.name }}</span>
              </div>
              <div class="text-xl font-bold">Termin:</div>
              <div>
                <span class=""
                  >{{ dogCare.start_date | date: 'short' }} -
                  {{ dogCare.end_date | date: 'short' }}</span
                >
              </div>
            </div>

            <div class="w-1/6 flex flex-col justify-center items-center">
              <div
                class="cursor-pointer underline font-bold hover:text-black"
                (click)="showPropositionDetailsDialog(dogCare)">
                Szczegóły
              </div>
              <div
                *ngIf="
                  careType === dogCarePropositionViewTypes.DONE &&
                  userType !== dogCareUserTypes.GUARDIAN
                "
                (click)="showRateCareDialog(dogCare)"
                class="cursor-pointer underline font-bold hover:text-black">
                Oceń
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="totalPages > 1" class="w-full mt-4">
        <p-paginator
          [rows]="caresPerPage"
          [totalRecords]="totalPages"
          [showFirstLastIcon]="false"
          (onPageChange)="onPageChange($event)"></p-paginator>
      </div>
    </div>
  </ng-template>
</div>
