<div class="">
  <div class="container h-screen mx-auto">
    <div class="w-full md:w-2/6 h-fit mx-auto py-20">
      <div class="h-full px-5 flex flex-col items-center">
        <div class="flex flex-row items-center gap-x-4 pr-6">
          <img
            src="/assets/background/logo_hr.png"
            style="display: block; width: 50px; height: 50px" />
          <div class="text-2xl font-bold">DogCompany</div>
        </div>

        <form [formGroup]="loginForm" class="w-full">
          <h1
            class="text-center text-black text-4xl mb-6 text-gray-600 font-bold font-sans pt-8">
            Logowanie
          </h1>
          <h6 class="text-center text-lg mb-6 text-gray-600 font-sans">
            Wprowadź dane swojego konta
          </h6>
          <div class="pt-4 p-fluid grid grid-cols-1">
            <div>
              <label for="email" class="font-semibold">Adres email</label>
              <input
                id="email"
                type="email"
                required
                pInputText
                formControlName="email"
                [ngClass]="{
                  'ng-dirty':
                    (f.email.invalid && submitted) ||
                    (f.email.dirty && f.email.invalid)
                }" />
              <div
                *ngIf="
                  (f.email.invalid && submitted) ||
                  (f.email.dirty && f.email.invalid)
                ">
                <small class="p-error" *ngIf="f.email.errors.required"
                  >Pole <strong>email</strong> jest wymagane.</small
                >
                <small class="p-error" *ngIf="f.email.errors.email"
                  >Adres <strong>email</strong> nie jest poprawny.</small
                >
              </div>
            </div>
          </div>
          <div class="pt-4 p-fluid grid grid-cols-1">
            <div>
              <label for="password" class="font-semibold">Hasło</label>
              <input
                id="password"
                type="password"
                required
                pInputText
                formControlName="password"
                [ngClass]="{
                  'ng-dirty':
                    (f.password.invalid && submitted) ||
                    (f.password.dirty && f.password.invalid)
                }" />
              <div
                *ngIf="
                  (f.password.invalid && submitted) ||
                  (f.password.dirty && f.password.invalid)
                ">
                <small class="p-error" *ngIf="f.password.errors.required"
                  >Pole <strong>haso</strong> jest wymagane.</small
                >
              </div>
            </div>
          </div>
          <button
            [ngClass]="{ disabled: loginForm.invalid }"
            type="submit"
            (click)="onSubmit()"
            class="w-full mt-6 bg-custom-purple-low rounded px-4 py-2 text-lg text-white tracking-wide font-semibold font-sans hover:bg-custom-purple-light">
            Zaloguj się
          </button>
          <div class="pt-4">
            <div class="w-fit cursor-pointer hover:text-blue-800">
              <span class="">Nie masz konta?</span
              ><span routerLink="/rejestracja" class="font-bold">
                Zarejestruj się!</span
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
