<div class="w-full h-full mt-2">
  <app-header headerTitle="Poszukują Opieki"></app-header>
  <div *ngIf="isContentLoading; else content" class="w-full h-full mx-auto max-h-96 flex justify-center loaderBlock items-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <ng-template #content>
    <div class="max-w-full md:max-w-7xl mx-auto bg-white h-full px-8 flex flex-col items-center md:flex-row md:justify-center md:items-start">
      <div class="md:w-1/4 my-16">
        <h2 class="block font-bold text-2xl mb-4 text-custom-grey">Filtry</h2>
        <div class="block py-6 md:hidden">
          <p class="text-custom-purple-dark text-center font-bold text-md cursor-pointer" (click)="showFilters = !showFilters">
            {{showFilters ? 'Schowaj filtry' : 'Pokaż filtry'}}
          </p>
        </div>
        <div [ngClass]="{'show':showFilters}" class="hidden md:block">
          <form [formGroup]="filters">
            <div class="field">
              <label for="breeds" class="block font-bold text-lg text-custom-grey">Rasa</label>
              <p-multiSelect id="breeds" [options]="breeds" formControlName="breed" defaultLabel="Wybierz rasę" optionLabel="name" display="chip"></p-multiSelect>
<!--
              <p-autoComplete id="breed" formControlName="breed" [suggestions]="suggestions" (completeMethod)="search($event)" field="name"></p-autoComplete>
-->
            </div>

            <div class="mt-2 field">
              <label for="traits" class="pt-4 block font-bold text-lg text-custom-grey">Cechy osobowości</label>
              <div id="traits" class="mt-2">
                <div *ngFor="let trait of traits" class="field-checkbox">
                  <div class="flex items-center">
                    <p-checkbox name="traits" [value]="trait" [formControl]="filters.controls['trait']" [inputId]="trait.name"></p-checkbox>
                    <label style="margin-left: 0.5rem" class="font-bold text-custom-grey inline-block align-middle" [for]="trait.name">{{trait.name}}</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-2 field">
              <label for="activities" class="pt-4 block font-bold text-lg text-custom-grey">Potrzeba</label>
              <div id="activities" class="mt-2">
                <div *ngFor="let activity of activities" class="field-checkbox">
                  <div class="flex items-center">
                    <p-checkbox name="activities" [value]="activity" [formControl]="filters.controls['activity']" [inputId]="activity.name"></p-checkbox>
                    <label style="margin-left: 0.5rem" class="font-bold text-custom-grey inline-block align-middle" [for]="activity.name">{{activity.name}}</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-2 field">
              <label for="availabilities" class="pt-4 block font-bold text-lg text-custom-grey">Dostępność</label>
              <div id="availabilities" class="mt-2">
                <div *ngFor="let availability of availabilities" class="field-checkbox">
                  <div class="flex items-center">
                    <p-checkbox name="availabilities" [value]="availability" [formControl]="filters.controls['availability']" [inputId]="availability.name"></p-checkbox>
                    <label style="margin-left: 0.5rem" class="font-bold text-custom-grey inline-block align-middle" [for]="availability.name">{{availability.name}}</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-2 field">
              <label for="sizes" class="pt-4 block font-bold text-lg text-custom-grey">Wielkość</label>
              <div id="sizes" class="mt-2">
                <div *ngFor="let size of sizes" class="field-checkbox">
                  <div class="flex items-center">
                    <p-checkbox name="sizes" [value]="size" [formControl]="filters.controls['size']" [inputId]="size.name"></p-checkbox>
                    <label style="margin-left: 0.5rem" class="font-bold text-custom-grey inline-block align-middle" [for]="size.name">{{size.name}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-6 field flex justify-center md:justify-start">
              <button (click)="searchFilters()" style="min-width: 60%" pButton pRipple type="button" label="Szukaj" class="p-button-rounded"></button>
            </div>
          </form>
        </div>
      </div>
      <div class="w-full items-center md:w-3/4 my-16 flex flex-col">

        <div *ngIf="isPageChanging; else profilesContent" class="w-full flex justify-center loaderBlock items-center">
          <p-progressSpinner></p-progressSpinner>
        </div>

        <ng-template #profilesContent>
          <div *ngIf="dogProfiles.length <= 0" class="w-full text-4xl font-bold text-center ">
            Brak profili
          </div>
          <div *ngIf="dogProfiles.length >= 1" class="w-3/4 md:w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10 card-panel">
            <div *ngFor="let profile of dogProfiles" class="card shade w-full cursor-pointer bg-white rounded-lg">
              <a routerLink="/dog-profile/{{profile.id}}" class="w-full block ">
                <img alt="dog photo" src="../../../../assets/background/card.png" class="w-full max-h-56 object-cover rounded-lg "/>
                <div class="bg-white w-full px-4 py-0 max-h-22 rounded-lg">
                  <p class="pt-1.5 text-custom-purple-light text-center text-xl font-medium mb-2 truncate">
                    {{profile.name}}
                  </p>
                  <p class="text-custom-purple-dark text-center font-regular text-md truncate">
                    {{profile.size.name}} - {{profile.breed.name}}
                  </p>
                </div>
              </a>
            </div>
          </div>
        </ng-template>
        <div *ngIf="totalPages > 0" class="w-full mt-4">
          <p-paginator [rows]="profilesPerPage" [totalRecords]="totalPages" [showFirstLastIcon]="false" (onPageChange)="onPageChange($event)"></p-paginator>
        </div>
      </div>
    </div>
  </ng-template>
</div>
