<app-header headerTitle="Twoje Wiadomości"></app-header>
<div
  class="max-w-full md:max-w-7xl h-full mt-2 flex mx-auto flex justify-center">
  <ng-container *ngIf="isContentLoading">
    <div
      class="max-w-full md:max-w-7xl mx-auto flex justify-center loaderBlock items-center">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </ng-container>
  <ng-container *ngIf="!isContentLoading">
    <div class="mt-6 min-w-full">
      <p-table
        #dt
        [value]="threads"
        [responsive]="true"
        dataKey="id"
        [rowHover]="true"
        stateStorage="local"
        stateKey="message-state"
        responsiveLayout="stack">
        <ng-template pTemplate="header">
          <tr>
            <th></th>
            <th>Nadawca</th>
            <th>Temat</th>
            <th>Data wysłania</th>
            <th style="width: 8rem"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-thread>
          <tr [ngClass]="{ 'unread-message': thread.is_unread }" class>
            <td>
              <ng-container
                *ngIf="thread.thread_creator.photo.length > 0; else avatar">
                <img
                  src="{{ thread.thread_creator.photo[0].url }}"
                  width="32"
                  style="vertical-align: middle" />
              </ng-container>
              <ng-template #avatar
                ><svg
                  width="32"
                  fill="black"
                  height="32"
                  class="text-gray-800"
                  viewBox="0 0 1792 1792"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M1523 1339q-22-155-87.5-257.5t-184.5-118.5q-67 74-159.5 115.5t-195.5 41.5-195.5-41.5-159.5-115.5q-119 16-184.5 118.5t-87.5 257.5q106 150 271 237.5t356 87.5 356-87.5 271-237.5zm-243-699q0-159-112.5-271.5t-271.5-112.5-271.5 112.5-112.5 271.5 112.5 271.5 271.5 112.5 271.5-112.5 112.5-271.5zm512 256q0 182-71 347.5t-190.5 286-285.5 191.5-349 71q-182 0-348-71t-286-191-191-286-71-348 71-348 191-286 286-191 348-71 348 71 286 191 191 286 71 348z"></path></svg
              ></ng-template>
            </td>
            <td>
              <span class="p-column-title">Nadawca</span>
              {{ thread.thread_creator.name }}
            </td>
            <td>
              <span class="p-column-title">Temat</span>
              {{ thread.subject }}
            </td>
            <td>
              <span class="p-column-title">Data</span>
              {{ thread.updated_at | date: 'short' }}
            </td>
            <td style="text-align: center">
              <button
                routerLink="details/{{ thread.id }}"
                pButton
                label="Pokaż"
                type="button"
                class="p-button-secondary"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">Brak wiadomości</td>
          </tr>
        </ng-template>
      </p-table>
      <ng-container *ngIf="totalPages > 1">
        <p-paginator
          [rows]="threadsPerPage"
          [totalRecords]="totalThreads"
          [showFirstLastIcon]="false"
          (onPageChange)="onPageChange($event)"></p-paginator>
      </ng-container>
    </div>
  </ng-container>
</div>
