.threads {
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.subject-row {
  max-width: 200px;
}
.thread-row {
  max-height: 80px;
}

.unread-message {
  @apply font-bold
}

td {
  white-space:nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis;
  @apply max-w-sm
}
