<div class="w-full">
  <!--Navbar full-->
  <div class="hidden md:flex w-full px-20 items-center justify-between">
    <div class="flex items-center">
      <a class="flex-shrink-0 text-lg font-bold" href="/"> DogCompany </a>
    </div>
    <div class="flex items-center p-4 font-bold text-lg gap-x-8">
      <div class="cursor-pointer">Dla kogo</div>
      <div class="cursor-pointer">Jak to działa</div>
      <div class="cursor-pointer">Misja</div>
      <div class="flex gap-4">
        <div>
          <button pButton pRipple type="button" label="Rejestracja"></button>
        </div>
        <div>
          <button
            pButton
            pRipple
            type="button"
            label="Logowanie"
            class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </div>
  <!--Navbar mobile-->
  <div class="md:hidden w-full p-4 mx-auto">
    <div class="flex items-center justify-between">
      <a class="flex-shrink-0 text-lg font-bold" href="/"> DogCompany </a>
      <div class="flex gap-4">
        <div>
          <button pButton pRipple type="button" label="Dołącz"></button>
        </div>
      </div>
    </div>
  </div>
  <!--Header-->
  <div class="w-full mx-auto border-t-2 border-gray-300">
    <div class="grid grid-cols-1 md:grid-cols-2">
      <div class="md:col-6 px-20 text-center md:text-left flex items-center">
        <section>
          <span class="block text-6xl font-bold mb-1">Dziel się miłością </span>
          <div class="text-6xl text-purple-700 font-bold mb-3">swoich psów</div>
          <p class="mt-0 mb-4 text-700 line-height-3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <div class="flex gap-4 justify-center md:justify-start">
            <div>
              <button
                pButton
                pRipple
                label="Dołącz"
                type="button"
                class="p-button-raised"></button>
            </div>
            <div>
              <button
                pButton
                pRipple
                label="Dowiedz się więcej"
                type="button"
                class="p-button-outlined"></button>
            </div>
          </div>
        </section>
      </div>
      <div class="md:col-6 overflow-hidden">
        <img
          src="assets/background/wall1.jpg"
          alt="Image"
          class="md:ml-auto block md:h-full"
          style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)" />
      </div>
    </div>
  </div>

  <div class="w-full bg-gray-100 py-6">
    <div
      class="md:flex max-w-7xl mx-auto px-8 items-center justify-between flex break-all">
      <div class="flex flex-col text-center">
        <div>
          <img
            src="assets/background/wall1.jpg"
            alt="Image"
            class="md:ml-auto block md:h-full"
            width="200px"
            height="200px" />
        </div>
        <div>Jestem właścicielem</div>
        <div>Opissadsdassssssssssssssssssssssssssssss</div>
      </div>
      <div class="flex flex-col text-center">
        <div>Obrazek</div>
        <div>Jestem właścicielem</div>
        <div>Opissadsdassssssssssssssssssssssssssssss</div>
      </div>
    </div>
  </div>
</div>
