<app-header headerTitle="Ustawienia konta"></app-header>

<div
  class="mt-6 md:mt-12 w-full flex flex-col max-w-full md:max-w-7xl h-full mx-auto mb-10 px-10 md:px-20">
  <ng-container *ngIf="isContentLoading; else content">
    <div
      class="max-w-full md:max-w-7xl mx-auto flex justify-center loaderBlock items-center">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </ng-container>

  <ng-template #content>
    <p-tabView>
      <p-tabPanel header="Profil">
        <app-profile-form
          [userDetails]="userAccountFullDetails"></app-profile-form>
      </p-tabPanel>
      <p-tabPanel header="Zdjęcia">
        <ng-template pTemplate="content">
          <app-user-photos
            [userDetails]="userAccountFullDetails"></app-user-photos>
        </ng-template>
      </p-tabPanel>
      <p-tabPanel header="Konto">
        <app-account-form
          [userDetails]="userAccountFullDetails"></app-account-form>
      </p-tabPanel>
    </p-tabView>
  </ng-template>
</div>
